PORT=5000
MONGO_URI=mongodb://localhost:27017/car-showroom
JWT_SECRET=STRONG_JWT_PASSWORD
FRONTEND_ORIGIN=https://CAR-SHOWROOM.vercel.app
GROQ_API_KEY=gsk_325464YRHDFH43G43TG
GOOGLE_CLIENT_ID=6763756756856868-BH45HWJW46JNJ668JJR6W868.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=STRONG-SECRET
CLIENT_URL=https://carfield.vercel.app/
NODE_ENV=EXAMPLE
SERVER_URL=https://CARFIELD.onrender.com
CLOUDINARY_CLOUD_NAME=SJNSDE5
CLOUDINARY_API_KEY=432546367687865434
CLOUDINARY_API_SECRET=SECRET-DON`T-TELL-ANYONE
# SMTP stands for 'send mail transfer protocol'
SMTP_USER=ADMIN@gmail.com 
SMTP_PASS=BSDT XGMN BVBC KMFX